p {
    color: white;
    font-size: 18px;
}
h1 {
    color:cadetblue;
    font-size: 22px;
}

.liste1 {
    color:darkgoldenrod;
    font-size: 18px;
}

.légende1 {
color:darkorange;
font-size: 16px;

}
.légende2 {
color:darkseagreen;
font-size: 16px;
}